<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %} {{ page.title }} | {% endif %}DeathsbreedGames</title>
		<link rel="shortcut icon" href="/imgs/thumbnail.ico" />
		<meta charset="UTF-8" />
		<meta name="author" content="Nicolas A. Ortega" />
		<meta name="copyright" content="DeathsbreedGames" />
		<meta name="license" content="Mozilla Public License 2.0" />
		<meta name="keywords" content="Games, Open-Source, Free Software" />
		<meta name="description" content="Free/Libre games." />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="/styles/default.css" />
		<link rel="stylesheet" type="text/css" href="/styles/buttons.css" />
	</head>
	<body>
		<br>
		<div class="wrapper" >
			<header>
				<center>
					<a href="/" ><img src="/imgs/logo.png" alt="DeathsbreedGames" width="60%" /></a>
					<h3>Free/Libre Games.</h3>
				</center>
			</header>
			<nav>
				<ul>
					<li>
						{% if page.title == "Home" %}
							<a href="/" class="selected" >HOME</a>
						{% else %}
							<a href="/" >HOME</a>
						{% endif %}
					</li>
					<li>
						{% if page.title == "Games" %}
							<a href="/games.html" class="selected" >GAMES</a>
						{% else %}
							<a href="/games.html" >GAMES</a>
						{% endif %}
					</li>
					<li>
						<a href="https://github.com/DeathsbreedGames" target="_blank" >GITHUB</a>
					</li>
					<li>
						{% if page.title == "Contact Us" %}
							<a href="/contact.html" class="selected" >CONTACT US</a>
						{% else %}
							<a href="/contact.html" >CONTACT US</a>
						{% endif %}
					</li>
					<li>
						{% if page.title == "About Us" %}
							<a href="/about.html" class="selected" >ABOUT US</a>
						{% else %}
							<a href="/about.html" >ABOUT US</a>
						{% endif %}
					</li>
				</ul>
			</nav>
			{{ content }}
		</div>
		<footer>
			<p style="text-align: center;" >Powered by <a href="https://pages.github.com/" target="_blank" >Github Pages</a>.</p>
		</footer>
	</body>
</html>
