/* General */
html, * {
	padding: 0;
	margin: 0;
}
body {
	background-color: #585858;
	font-size: 1.0em;
	font-family: Arial;
}

html, body {
	height: 100%;
	width: 100%;
}

/* Headers */
h1 {
	font-size: 3.0em;
}
h2 {
	font-size: 2.3em;
}
h3 {
	font-size: 1.7em;
}
h4 {
	font-size: 1.2em;
}

/* Text */
p {
	margin: 5px 0px 10px 0px;
}

/* Links */
p a, p a:visited {
	color: #F00;
	text-decoration: none;
}
p a:hover {
	text-decoration: underline;
}

/* Lists */
ul, ol {
	margin: 5px 0 5px 20px;
}

/* Semantics */
.wrapper {
	width: 1000px;
	margin: 0 auto;
	border: 5px solid #000;
	background-color: #FFF;
	min-height: 90%;
}
header {
	background-color: #6E6E6E;
	padding: 20px 0;
}
nav {
	width: 100%;
	height: 50px;
	background-color: #DF0101;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	display: block;
	float: left;
}
nav ul li a {
	float: left;
	padding: 12px 10px;
	height: 26px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	display:block;
}
nav ul li a.selected, nav ul li a.selected:hover {
	background-color: #1C1C1C;
}
nav ul li a:hover {
	background-color: #F78181;
}
section.content {
	margin: 2px 6px;
}
