.game-box {
	float:left;
	width:300px;
	height:400px;
	border:1px solid black;
	margin: 2px;
	margin-bottom: 0px;
	padding: 0px;
}
.thumbnail {
	width: 300px;
	height: 200px;
}
.game-description {
	padding: 0px 5px 5px 5px;
}
